/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-image: url("assets/pic5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
  color: #576069;
 
}
.img {
  max-height: 130px;
}
.movieContainer {
  width: 90%;
  max-width: 150px;
  margin: auto;
  display: grid;
  /* grid-template-areas: 
  "one two three"; */
  /* grid-template-columns: auto;
  grid-template-rows: auto; */
  grid-template-columns: repeat(3, 1fr);
  margin-left: 300px;
  grid-gap: 80px 0;
}

.cardContainer {
  height: 241px;
  width: 250px;
  perspective: 600px;
}
.front,.back{
  box-shadow: 0px 5px 30px rgba(27, 31, 35, 0.1);
  border: 1px solid #dadce0;
  border-radius: 8px;
  width: 241px;
  height: 250px;
  margin: 1rem;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transform-style: preserve-3d;
  transition: all .5s ease-in-out;
  text-align: center;
}
.front {
  background-color: #ebedf0;;
  transform: perspective(800px) rotateY(0deg);
}
.back {
  background-color: #fae6fa;
  transform: perspective(800px) rotateY(-180deg); 
}

.card.flip > .front{
  transform: perspective(800px) rotateY(180deg);
}
.card.flip > .back{ 
  transform: perspective(800px) rotateY(0deg);
}
.btn {
  padding: 0.5rem 0.5rem;
  border-radius: 100px;
  border: 1px solid #576069;
  background-color: #576069;
  color: rgba(255, 251, 251, 1);
  font-weight: 200;
  text-align: center;
  vertical-align: bottom;
  letter-spacing: 1px;
  position: absolute;
  float: right;
  top: 180px;
  right: 10px;
}