/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #576069;
  font-family: 'BioRhyme', serif;
}
.heading {
  text-align: center;
  font-weight: 800;
  font-size: 35px;
  color: #fae6fa;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}
.movieContainer {
  width: 100%;
  max-width: 250px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 312px;
  grid-gap: 50px 0;
}
.cardContainer {
  height: 241px;
  width: 250px;
}
.front,.back{
  box-shadow: 0px 5px 30px rgba(27, 31, 35, 0.1);
  border: 1px solid #dadce0;
  border-radius: 8px;
  width: 241px;
  height: 250px;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transform-style: preserve-3d;
  transition: all .5s ease-in-out;
  text-align: center;
  }

.front {
  background-color: #ebedf0;;
  transform: perspective(800px) rotateY(0deg);
  font-weight: 800;
}
.back {
  background-color: #fae6fa;
  transform: perspective(800px) rotateY(-180deg);
}
.front h1 {
  margin-top: 100px;
}
.back p {
  /* Starting position */
  transform: translateY(100%);
  line-height: 25px;
  animation: slider 5s linear infinite;
  font: 400;
}
@keyframes slider {
  from {
    transform: translateY(1000%);
  }
  to {
    transform: translateY(-300%);
  }
}
.card.flip > .front{
  transform: perspective(800px) rotateY(180deg);
}
.card.flip > .back{ 
  transform: perspective(800px) rotateY(0deg);
}
.btn {
  padding: 0.5rem 0.5rem;
  border-radius: 100px;
  border: 1px solid #576069;
  background-color: #576069;
  color: rgba(255, 251, 251, 1);
  font-weight: 200;
  text-align: center;
  vertical-align: bottom;
  letter-spacing: 1px;
  position: absolute;
  float: right;
  top: 180px;
  right: 10px;
}
.header {
  font-weight: 800;
}

@media only screen and (max-width: 1200px) {
  .movieContainer {
    width: 100%;
    justify-content: center;
    margin-right: 10px;
  }
  .header {
    text-align: center;
  }
}

@media only screen and (max-width: 1000px) {
  .movieContainer {
    width: 60%;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .cardContainer {
    width: 80%;
  }
  .header {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .movieContainer {
    width: 60%;
    justify-content: center;
    margin-left: 80px;
  }
  .cardContainer {
    width: 80%;
  }
  .front h1 {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .cardContainer {
    width: 80%;
    margin: 1rem -0.5rem 1rem 0;
  }
}